@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Conexão com o MySQL Utilizando ASP.NET Core MVC </h1>
    <h5 >Tabelas</h5>
    <p>CRUD Tabela  <a href="@Url.Action("Index", "User")">User</a>.</p>
    <p>CRUD Tabela  <a href="@Url.Action("Index", "Address")">Address</a>.</p>

</div>
